decl-version 2.0
input-language data

ppt {{name}}.data:::POINT
ppt-type point
{%- for var in variables %}
    variable {{var.name}}
        var-kind variable
        dec-type {{var.dec_type}}
        rep-type {{var.rep_type}}
        {%- if var.is_constant %}
        constant {{var|daikon}}
        {%- endif -%}
{%- endfor %}